.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
run/
*.launch
.factorypath
.target
.recommenders/
.apt_generated/
.project
.classpath
*.iws
out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/
*.iml
modules.xml
.idea/misc.xml
*.ipr
Launcher.iws
.gradle
.gradle/
/build/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
